<template name="ProfileIndex">

    <div class="container">
        <div class="row clearfix">
            <div class="page-header">
                <h1>
                    My Profile <small></small>
                </h1>
            </div>
            <div class="col-md-2 column">
                <h3>
                    Avatar
                </h3><img alt="140x140" src="http://lorempixel.com/140/140/" class="img-circle" />
            </div>
            <div class="col-md-6 column">
                <h3>
                    My Info
                </h3>
                <div class="form-group">
                    <label class="control-label" for="nameInput">Full Name</label>
                    <input class="form-control" id="nameInput" type="text" value="John Doe" disabled="">
                </div>
                <div class="form-group">
                    <label class="control-label" for="ageInput">Age</label>
                    <input class="form-control" id="ageInput" type="text" value="25" disabled="">
                </div>
                <div class="form-group">
                    <label class="control-label" for="locationInput">Location</label>
                    <input class="form-control" id="locationInput" type="text" value="Austin, TX" disabled="">
                </div>
                <div class="form-group">
                    <label class="control-label" for="bioInput">Bio</label>
                    <textarea rows="3" class="form-control" id="bioInput" disabled="" >Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</textarea>
                </div>

            </div>
            <div class="col-md-4 column">
                <h3>
                    Facebook
                </h3>
                <ul class="nav nav-pills">
                    <li class="active">
                        <a href="#"> <span class="badge pull-right">42</span> Likes</a>
                    </li>
                    <li>
                        <a href="#"> <span class="badge pull-right">16</span> Photos</a>
                    </li>
                    <li>
                        <a href="#"> <span class="badge pull-right">16</span> Friends</a>
                    </li>
                </ul>
                <h3 class="text-left">
                    Twitter
                </h3>
                <ul class="nav nav-pills">
                    <li class="active">
                        <a href="#"> <span class="badge pull-right">42</span> Tweets</a>
                    </li>
                    <li>
                        <a href="#"> <span class="badge pull-right">16</span> Follow</a>
                    </li>
                    <li>
                        <a href="#"> <span class="badge pull-right">16</span> Followers</a>
                    </li>
                </ul>
                <h3>
                    Linked In
                </h3>
                <ul class="nav nav-pills">
                    <li class="active">
                        <a href="#"> <span class="badge pull-right">42</span> Messages</a>
                    </li>
                    <li>
                        <a href="#"> <span class="badge pull-right">16</span> Interests</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>
