<template name="Home">
  <div class="jumbotron">
    <h1>Cheekd</h1>

  </div>

  <div class="row clearfix topSpace20">

    <div class="col-md-4 column text-center">
      <div class="panel well">
        <h2><a href="/tags">Tags</a></h2>
      </div>
    </div>

    <div class="col-md-4 column text-center">
      <div class="panel well">
        <h2><a href="/conversations">Conversations</a></h2>
      </div>
    </div>

    <div class="col-md-4 column text-center">
      <div class="panel well">
        <h2><a href="/encounters">Encounters</a></h2>
      </div>
    </div>

  </div>

  <div class="row clearfix topSpace20">

    <div class="col-md-4 column text-center">
      <div class="panel well">
        <h2><a href="/profile">Profile</a></h2>
      </div>
    </div>

    <div class="col-md-4 column text-center">
      <div class="panel well">
        <h2><a href="/settings">Settings</a></h2>
      </div>
    </div>

    <div class="col-md-4 column text-center">
      <div class="panel well">
        <h2><a href="/connections">Connections</a></h2>
      </div>
    </div>

  </div>

</template>
